*{
    background-color: azure;
}
nav{
    height: 20vh;
}
a{
    padding: 1rem;
    text-decoration: none;
    color:darksalmon;
    background-color: #F9F4E5;
}
a:hover{
    color:#F9F4E5;
    background-color:  darksalmon;
}
li{
    list-style-type: none;
}

ul{
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    
}
h1{
    color:darksalmon;
    font-family: 'Courier New', Courier, monospace;

}
h2{
    background-color: #F9F4E5;
    font-size: larger;
}
p{
    background-color: #F9F4E5;
}
br{
    background-color: coral;
}
section{
    display: flex;
    width: 100px;
    flex-wrap: wrap;
}
article{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(124, 111, 111);
    background-color: #F9F4E5;
    text-align: justify;
    border-style: dotted;
    border-color: cadetblue;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;

}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;

    
}
img{
    width: 40rem;
    height: 25rem;
}

#Logo img{
    
    width: 150px;
    height: 150px;
}
